* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  min-height: 100vh;
  padding-top: 60px;
  background:#3A405A ;
}


h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #FFF5EC;
}

h2 {
  color: #FFF5EC;
}

.create-course-container {
  margin: 20px auto;
  text-align: center;
}
#createCourseBtn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #FFD695;
}

.submissions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px auto;
  max-width: 1200px;
}

.submission-card {
  background: #FFD695;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px #FFF5EC;

}

.mark-form {
  background:#FFD695 ;
}



button{
  background: #FFF5EC;
  border-radius: 6px;

}

